body {
    margin:0px;
    padding:0px;
}


.banner {
    background-image: url("assets/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:30%;
    height:15vw;
    display:flex;
    align-items:center;
    justify-content: center;
    position:relative;
    z-index:1;
}

.banner:hover::after {
    content:"";
    position:absolute;
    z-index:2;
    background-color: gold;
    height:30vw;
}